<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/common.css">
  <link rel="stylesheet" type="text/css" href="/styles/header-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/service.css">
</head>
<body>
  <!-- Include the header -->
  <%- include('./header') %>
<main>  
  <div class="box">Service in Las Vegas</div>
  <div class="box1"></div>
  <!-- The service area --> 
  <div class="all">
    <div class="container">
      <% services.forEach((service) => { %>
        <div class="serviceBox">
          <div class="serviceImage">Image</div>
          <div class="serviceText">
            <text> Name: <%= service.service_name %></text>
            <text1>Description: <%= service.service_description %></text1>
            <text2>Time/Date: <%= service.time_date %></text2> 
            <text3> Hours: <%= service.amount_of_hours %></text3>
            <text4>Address: <%= service.location %></text4> 
            <text5>Contacts: <%= service.contacts %></text5> 
          </div>
        </div>
      <% }) %>
    </div>
    <div class="map">map, when clicked it slides to become the entire page and makes the services 10%</div>
  </div>
</main>

<!-- The form for inputting data -->
<div class="submit">
  <li class="submitButton"><a href="/submit-service">Submit services</a></li>
</div>

<!-- Include the footer -->
<%- include('./footer') %>

</body>
</html>