<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title><%= pageTitle %> - ServiceUs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/common.css">
  <link rel="stylesheet" type="text/css" href="/styles/header-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/submitService.css">
</head>
<body>
  <%- include('./header') %>
  <main>  
    <div class="form-container">
        <h2>Add a New Service</h2>
        <form action="/submit" method="post">
          <input type="text" name="service_name" placeholder="Service Name"><br>
          <input type="text" name="service_description" placeholder="Service Description"><br>
          <input type="datetime-local" id="time_date" min="2023-01-01T00:00" max="2025-1-1T00:00" name="time_date" placeholder="Start time"><br>
          <input type="number" name="amount_of_hours" placeholder="Amount of Hours"><br>
          <input type="text" name="location" placeholder="Location"><br>
          <input type="text" name="contacts" placeholder="Contacts"><br>
          <button type="submit">Add Service</button>
        </form>
      </div>
    
  </main>
  <%- include('./footer') %>
</body>
</html> -->


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Validation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/submitService.css">
  <link rel="stylesheet" type="text/css" href="/styles/header-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/common.css">
  <script defer src="../assets/script/test.js"></script>
</head>
<body>
  <%- include('./header') %>
  <div class="container">
      <form id="form" action="/">
          <h1>Registration</h1>
          <div class="input-control">
            <label for="serviceName">Name of the Event</label>
            <input id="serviceName" name="serviceName" type="text" >
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="email">Contact email</label>
            <input id="email" name="email" type="text" >
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="description">Description of the Event</label>
            <input id="description" name="description" type="text">
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="date">Date</label>
            <input id="date"name="date" type="date">
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="time">Start Time</label>
            <input id="time" name="time" type="time">
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="time2">End Time</label>
            <input id="time2" name="time2" type="time">
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="hours">Total amount of hours</label>
            <input id="hours" name="hours" type="number">
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="location">Location</label>
            <input id="location" name="location" type="text">
            <div class="error"></div>
          </div>
          <button type="submit">Sign Up</button>
      </form>
  </div>
  <%- include('./footer') %>
</body>
</html>

 